setuptools~=71.1.0
spacy~=3.7.5
torch~=2.2.2
customtkinter~=5.2.2
future~=1.0.0
rapidfuzz~=3.9.4
pillow~=10.3.0
pytest~=8.3.2
sentence-transformers~=3.0.1
expecttest~=0.2.1
matplotlib~=3.7.5
tf-keras~=2.17.0